<div class="container">
    <div class="row m-3">
        <div class="col-12 home">
            <h1>TickList</h1>
        </div>

        <div class="col-12">
            <p>Take your class!</p>
        </div>
        <div *ngIf="auth.user | async as user; else login" class="col-12">
            <button routerLink="/clases" class="btn btn-info">Start!</button>
        </div>

        <ng-template #login>
            <div class="col-12">
                <button (click)="alarmLogin()" routerLink="/login" class="btn btn-info">Start!</button>
            </div>
        </ng-template>
    </div>

</div>