<div class="container" *ngIf="auth.user | async as user">
  <div class="row m-3 center-block" *ngFor="let clase of classs">
    <div class="col-12">
      <mat-card class="colorClases">
        <div class="container">
          <div class="row">
            <div class="col-11">
              <a [routerLink]="[clase.nombre]" class="style-none">
                <p class="text-center">{{clase.nombre}}
              </a>
            </div>
            <div class="col-1">
              <button (click)="eliminarClase(clase.nombre)" class="btn">
                <img src="assets/Img/trash.png"></button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row m-3 center-block">
    <div class="col-12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button class="btn btn-sm btn-block button"><img class="h-75" src="./assets/Img/mas.png"></button>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="reply-form" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center">

            <form #replyForm1="ngForm" fxFlex fxLayout="row" fxLayoutAlign="start center">
              <div class="row m-3 center-block form-group">
                <input matInput minlength="2" type="text" class="forms-control" placeholder="Class" [(ngModel)]="nombre" name="nombre"
                  required>
              </div>
              <div class="row m-3 center-block">
                <div class="col-12">
                  <button type="submit" (click)='agregarClase(user)' class="btn btn-success btn-block my-auto py-revert ml-3 ">Add</button>
                </div>
              </div>
            </form>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </div>
</div>