<nav class="navbar navbar-light bg-light" *ngIf="auth.user | async as user; else login" >
    <a class="navbar-brand" routerLink="/clases/">
      <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Bootstrap
    </a>
    <div>{{user.email}}</div>
    <div>
        <button type="submit" routerLink="/" (click)="auth.logout()"> Logout</button>
    </div>
  </nav>


<ng-template #login>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" routerLink="/">
            <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30"
                class="d-inline-block align-top" alt="">
            Bootstrap
        </a>
    </nav>
</ng-template>