<nav class="navbar navbar-inverse bg-light" *ngIf="auth.user | async as user; else login">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/']" id="tituloLogo">
                <img src="./assets/Img/logo-sin-fondo.png" width="30" height="30" class="d-inline-block align-top"
                    alt="">
                TickList
            </a>
        </div>
        <ul class="nav navbar-nav navbar-center">
            <li>{{user.email}}</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/" (click)="auth.logout()"><button type="button" class="btn btn-outline-info"><span class=""></span> Log Out</button></a></li>
        </ul>
    </div>
</nav>

<ng-template #login>
    <nav class="navbar navbar-inverse bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="/">
                    <img src="./assets/Img/logo-sin-fondo.png" width="30" height="30" class="d-inline-block align-top"
                        alt="">
                    TickList
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="/login"><button type="button" class="btn btn-outline-info"><span class=""></span> Login</button></a></li>
            </ul>
        </div>
    </nav>
</ng-template>